GIPHYKEY=YOUR_GIPHY_KEY
GIPHYURL=https://api.giphy.com
KLIPYKEY=YOUR_KLIPY_KEY
KLIPYURL=https://api.klipy.com
HOST=0.0.0.0
PORT=9000
LIMIT=4
DBNAME=execsh
DBUSER=execsh
DBPASS=execsh
DBHOST=db
DBPORT=3306
DBENABLED=false
